<a (click)="newCard()" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
<ul class="collection">
  <li *ngFor="let troop of troopService.troopList | troopFilter:troopService.troopFilter" (click)="troopDetails(troop)"  class="collection-item" [class.active]="troop._id===troopService.troop._id" [ngClass]="getBgColor(troop.race)">
    <div>{{troop.cardname}}
      <a (click)="delete(troop._id)" class="secondary-content">
        <i class="material-icons red-text">delete</i>
      </a>
      <button class="secondary-content amber btn btn-small right" >
        {{troop.cost}}
      </button>
      <button class="secondary-content green btn btn-small right" *ngIf="types.getType(troop.type)!='Action'">
        {{troop.life}}
      </button>
      <button class="secondary-content  deep-orange darken-1 btn btn-small right" *ngIf="types.getType(troop.type)!='Action'">
        {{troop.attack}}
      </button>
    </div>
  </li>

  <li *ngIf="troopService.troopList.length==0" class="collection-item blue-text">
    <div>No element found</div>
  </li>

</ul>
