<div class="row">
  <input type="text" class="col s10" name="name" [(ngModel)]="decks.deckFilter.name" placeholder="Search" style="text-align: right">
  <button type="button" class="col s2 waves-effect waves-blue btn-flat" [ngClass]="{'blue':advancedSearch}" (click)="toggleAvancedSearch()" name="button"><i class="material-icons">{{advancedSearch?'keyboard_arrow_up':'keyboard_arrow_down'}}</i></button>
</div>
<div *ngIf="advancedSearch">
  <div class="row">
    <div class="col s5" >
      <select id="race" name="race" [(ngModel)]="decks.deckFilter.race" placeholder="Race">
        <option value="" selected >All Races</option>
        <option *ngFor="let race of racesService.races" [ngValue]="race._id">{{race.name}}</option>
      </select>
    </div>
    <input type="text" class="col s7" name="description" [(ngModel)]="decks.deckFilter.description" placeholder="Description" style="text-align: right">
  </div>
</div>
