<form #form="ngForm" (ngSubmit)="submitFormTroop(form)" class="col s12" >
  <div class="row">
    <div class="form-group col s6">
      <label for="cardname">Troop Name</label>
      <input id="cardname" type="text" class="validate form-control" name="cardname"  [(ngModel)]="troopService.troop.cardname" required>
    </div>
    <div class="form-group col s6">
      <label for="race">Race</label>
      <select id="race" name="race" [(ngModel)]="troopService.troop.race">
        <option *ngFor="let race of races" [ngValue]="race._id">{{race.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col s6">
      <label>Life: {{troopService.troop.life}}</label>
      <p class="range-field">
        <input type="range" id="life" min="1" max="10" name="life"  [(ngModel)]="troopService.troop.life" />
      </p>
    </div>
    <div class="form-group col s6">
      <label>Attack: {{troopService.troop.attack}}</label>
      <p class="range-field">
        <input type="range" id="attack" min="0" max="8" name="attack"  [(ngModel)]="troopService.troop.attack" />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col s6">
      <label>Movement: {{troopService.troop.movement}}</label>
      <p class="range-field">
        <input type="range" id="movement" min="0" max="5" name="movement"  [(ngModel)]="troopService.troop.movement" />
      </p>
    </div>
    <div class="form-group col s6">
      <label>Cost: {{troopService.troop.cost}}</label>
      <p class="range-field">
        <input type="range" id="cost" min="0" max="15" name="cost"  [(ngModel)]="troopService.troop.cost" />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col s12">
      <label for="habilities">Habilities</label>
      <textarea id="habilities" class="materialize-textarea" name="habilities" [(ngModel)]="troopService.troop.habilities"></textarea>
    </div>
  </div>
  <div class="form-group col right">
    <button
      [ngClass]="{disabled: !form.valid}" [disabled]="!form.valid" type="submit" class="btn btn-default right s4" [class.blue]="troopService.troop._id" [class.green]="!troopService.troop._id">{{troopService.troop._id?"save":"new"}}</button>
  </div>
</form>
