div{
  margin-bottom: 0px;
}
select {
    display: block;
}
button:focus{
  background-color: transparent;
}
button{
  border-bottom: 1px solid #9e9e9e;
  height: 42px;
}
.min-width-290{
    min-width: 290px;
}
@media screen and (min-width: 992px){
  button{
    height: 44px;
  }
}
