<div class="row">
  <a class="waves-effect waves-light btn blue col s6" [class.darken-3]="showAll" (click)="showAllDecks()">All Decks</a>
  <a class="waves-effect waves-light btn blue col s6" [class.darken-3]="!showAll" (click)="showOwnDecks()" >Own Decks</a>
</div>
<div class="row">
  <div class="">
    <search-deck></search-deck>
    <a (click)="newDeck()" class="btn-floating waves-effect waves-light green"><i class="material-icons">add</i></a>
    <div class="row sort-filter">
      <i class="material-icons grey-text">sort</i>
      <button class="right waves-effect waves-light btn-flat btn-sm" type="button" name="race" (click)="changeSort('race')">race</button>
      <button class="right waves-effect waves-light btn-flat btn-sm" type="button" name="name" (click)="changeSort('name')">name</button>
    </div>
    <ul class="collection">
      <li *ngFor="let deck of decksService.deckList | deckFilter : decksService.deckFilter | sort : fieldSorted" (click)="deckClicked(deck)"  class="collection-item" [class.active]="deck._id===decksService.deck._id" [ngClass]="getBgColor(deck.race)">
        <div>{{deck.name}}
          <a (click)="delete(deck._id)" *ngIf="(user.getUser().username == deck.created_by || user.isAdmin())" class="secondary-content">
            <i class="material-icons red-text">delete</i>
          </a>
        </div>
      </li>
      <li *ngIf="decksService.deckList.length==0" class="collection-item blue-text">
        <div>No element found</div>
      </li>
    </ul>
  </div>
</div>
