<div class="col s4">
  <div class="white-board z-depth-1">
    <div class="row">
      <button [ngClass]="{disabled: !game.myTurn}" [disabled]="!game.myTurn" type="button" name="button" (click)="endTurn()" class="btn waves-effect waves-light btn-sm col s12 orange">End Turn</button>
    </div>
    <div class="row">
      <button type="button" name="button" (click)="endGame()" class="btn waves-effect waves-light btn-sm col s12 red">End Game</button>
    </div>
  </div>
</div>
<div class="col s8">
  <div class="white-board z-depth-1 canvas">
    <canvas width="600" height="900" id="demoCanvas"></canvas>
  </div>
</div>
