<nav>
  <div class="nav-wrapper lime darken-1">
    <a routerLink="/" class="brand-logo"> Caesto-Na</a>
    <ul id="nav-mobile" class="right">
      <li *ngIf="authentication.getLogged()" routerLinkActive="active"><a routerLink="cards" >Cards</a></li>
      <li [ngSwitch]="authentication.isAdmin()" routerLinkActive="active">
        <a *ngSwitchCase="false" routerLink="user/">User</a>
        <a *ngSwitchCase="true" routerLink="users" >Users</a>
      </li>
      <li [ngSwitch]="authentication.getLogged()" routerLinkActive="active">
        <a *ngSwitchCase="false" routerLink="login">Login</a>
        <a *ngSwitchCase="true" class="red" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="">
  <router-outlet></router-outlet>
</div>
