.app-title{
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.dropdown-button{
  color:white;
}
.hide-on-med-and-up{
  padding-left: 10px;
}
.dropdown-content li>a{
  color:white;
}
.dropdown-content li.active{
  background-color: #9e9d24;
}
.material-icons{
  line-height:36px;  
}
