
<div class="row">
  <div class = "container">
    <a class="waves-effect waves-light btn blue " [class.darken-3]="!showCommanders" (click)="setCardView(false)">Troops</a>
    <a class="waves-effect waves-light btn blue " [class.darken-3]="showCommanders" (click)="setCardView(true)">Commanders</a>
  </div>
</div>
<div class="row">
  <div class = "col m6">
    <card-list [isCommander]="showCommanders"></card-list>
  </div>
  <div class = "col m6">
    <card-detail  [isCommander]="showCommanders"></card-detail>
  </div>
</div>
