
<div class="row">
  <div class = "col s12 m6">
    <div class="row">
      <a class="waves-effect waves-light btn blue col s6" [class.darken-3]="!showCommanders" (click)="showCommanders=false">Troops</a>
      <a class="waves-effect waves-light btn blue col s6" [class.darken-3]="showCommanders" (click)="showCommanders=true">Commanders</a>
    </div>
  </div>
</div>
<div class="row">
  <div class = "col s12 m6">
    <card-list [deckEdition]="false" [isCommander]="showCommanders"></card-list>
  </div>
  <div class = "col s12 m6">
    <card-detail  [isCommander]="showCommanders"></card-detail>
  </div>
</div>
