li{
  cursor: pointer;
}
.active{
  color:white !important;
  background-color: #2196F3 !important
}

ul{
  max-height: 400px;
  overflow: auto;
}
button{
  padding-right: 3px;
  padding-left: 3px;
  top: -7px;
  position: relative;
  margin-right: 1px;
}
.btn-floating {
  top: 60px;
  left: -15px;
}
button:focus{
  background-color: transparent;
}
