select {
    display: block;
}

li{
  cursor: pointer;
}
ul{
  max-height: 400px;
  overflow: auto;
}

li button{
  padding-right: 3px;
  padding-left: 3px;
  top: -7px;
  position: relative;
  margin-right: 1px;
}
