  <div class="row no-margin-bottom">
    <div class="col s4">
      <div *ngIf="game.waitForChallenge" class="preloader-wrapper active center">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s8">
      <h6>{{game.getChallengeDetails()}}</h6>
    </div>
  </div>
  <div class="row no-margin-bottom" *ngIf="game.challenge">
    <button [ngClass]="{disabled: !decks.deck._id}" [disabled]="!decks.deck._id" type="button" (click)="acceptChallenge()" name="button" class="btn btn-default right s4 green"> Accept</button>
    <button type="button" (click)="declineChallenge()" name="button" class="btn btn-default right s4 red"> Decline</button>
  </div>
  <div class="row" *ngIf="game.challenge && !decks.deck._id">
    <p class="red-text">You must choose a deck before joining a game</p>
  </div>
